body {
	background: url(bg.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: 'Arial';
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

}

h1 {
	text-align: center;

}
section {

	background-color: rgba(0, 0, 0, 0.5);
	width:  60%;
	height:  60%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 90%;

}

form > * {
	margin: 10px;
}

div {
	padding:  5px;
	text-align: center;
	font-size: 1.5rem;
	width: 200px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.7);
}

