working-dial-pad {
  background-color: #42a5f5;
}

working-dial-pad .row {
  margin: 0 auto;
  width: 200px;
  clear: both;
  text-align: center;
  font-family: 'Exo';
}

working-dial-pad .digit,
working-dial-pad .dig {
  float: left;
  padding: 10px 30px;
  width: 30px;
  font-size: 2rem;
  cursor: pointer;
}

working-dial-pad .sub {
  font-size: 0.8rem;
  color: grey;
}

working-dial-pad .container {
  background-color: white;
  width: 320px;
  padding: 20px;
  margin: 30px auto;
  height: 420px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

working-dial-pad #output {
  font-family: "Exo";
  font-size: 2rem;
  height: 60px;
  font-weight: bold;
  color: #1976d2;
}

working-dial-pad #call {
  display: inline-block;
  background-color: #66bb6a;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}

working-dial-pad .botrow {
  margin: 0 auto;
  width: 220px;
  clear: both;
  text-align: center;
  font-family: 'Exo';
}

working-dial-pad .digit:active,
working-dial-pad .dig:active {
  background-color: #e6e6e6;
}

working-dial-pad #call:hover {
  background-color: #81c784;
}

working-dial-pad .dig {
  float: left;
  padding: 10px 20px;
  margin: 10px;
  width: 30px;
  cursor: pointer;
}