body {
	background: url(./assets/bg.jpg) no-repeat center center fixed ;
	background-size: cover;

	font-family: 'Lobster';
	font-size: 3rem;

}

* {
	padding: 0;
	margin: 0;
	color: white;
}

.navbar-nav {
	width:  100%;
	position: flex;
	flex-direction: row;
	justify-content: space-around;
}

#red {
	color: red;
	
}

#yellow {
	color:  yellow;
}

#green {
	color:  MediumSeaGreen;
}
#exercise {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2em;

}

#down {
	width:  100%;
	align-items: center;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(10, 1fr);
	margin: 0;
	position: fixed ;
	bottom: 0;

}
#down > span {
	grid-column: 2/10;
	background-color: #198754;
	border:  none;
	border-radius: 10px;
	margin: 10px;
	transition: all .2s ease-in-out; 
}
button {
	background-color: #198754;
	border:  none;
	border-radius: 10px;
	margin: 10px;
	transition: all .2s ease-in-out; 
}

button:hover {
	transform: scale(1.05); 
	background-color: MediumSeaGreen;
}

#enter {
	background-color: white;
	color:  MediumSeaGreen;

}
#enter:hover {
	background-color: lightgreen;
}
.buttons {
	display: flex;
	font-weight: 400;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
	width: 310px;
}

.button {
	background-color: #198754;
	color: #FFFFFF;
	border: 1px solid #198754;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	text-align: center;
	width: 80px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;

}

.button:hover {
	background-color: MediumSeaGreen;
}
