body {
	background: url(./assets/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: 'Lobster';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
}

* {
	font-size: 3em;
	color: white;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;

}

h5 {
	color: lightgreen;
}

.btn-group {
	width:  60%;
	align-items: center;
}

.btn {
	background-color: rgba(0,0,0,0.2);
}
.down {
	width:  80%;
	display: flex;
	justify-content: space-evenly;
	/*display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	margin: 50px auto;*/
}

button {
	background-color: #198754;
	border:  none;
	border-radius: 10px;
	transition: all .2s ease-in-out; 
	padding: 0 50px;
	font-size: 1.5rem;
}

button:hover {
	transform: scale(1.05); 
	background-color: MediumSeaGreen;
}